<app-header></app-header>
<div class="introduction" fxLayout="row" fxLayoutAlign="space-around center">
  <div style="text-align: justify" fxFlex="50">
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim sapien, accumsan vitae imperdiet eget, venenatis convallis enim. Phasellus sit amet suscipit elit. Praesent eget urna ac orci hendrerit maximus. Sed vehicula neque justo, et sollicitudin elit vulputate a. Nullam in lacus vitae velit iaculis facilisis. Cras ut felis id purus egestas sodales.</p>
    <p>Best regards,<br>Johannes Stroebele</p>
  </div>
  <div class="material-icons" fxFlex="50">developer_mode</div>
</div>
